<button class="btn btn-default" [routerLink]="['NewsCreate']">Create new</button>
<table style="width: 100%" class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>title</th>
        <th>author</th>
        <th>published</th>
        <th>date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="#item of news">
        <td>{{item.title}}</td>
        <td>{{item.author}}</td>
        <td>{{item.published}}</td>
        <td>{{item.date}}</td>
        <td>
            <button class="btn btn-default" [routerLink]="['NewsDetail', {'id': item.id}]">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </td>
    </tr>
    </tbody>
</table>